<div class="app-create-card-container">
  <mat-card class="app-create-card">
    <div class="app-create-card-title">
      <span class="app-create-card-title-text">Card Creation</span>
    </div>
    <div class="app-create-card-name">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Card Title" [(ngModel)]="cardTitle">
      </mat-form-field>
    </div>
    <div class="app-create-card-button">
      <button mat-raised-button color="primary" (click)="createCard()">Create</button>
    </div>
  </mat-card>
</div>
