.app-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .app-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .app-register-title {
      font-size: 30px;
    }
    .app-register-username {

    }
    .app-register-password {

    }
    .app-register-button {

    }
  }
}

