<div class="app-register-container">
  <mat-card class="app-register">
    <div class="app-register-title">
      <span class="app-login-title-text">Register</span>
    </div>
    <div class="app-register-username">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" [(ngModel)]="username">
      </mat-form-field>
    </div>
    <div class="app-register-password">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password">
      </mat-form-field>
    </div>
    <div class="app-register-password">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Repeat Password" [(ngModel)]="password1">
      </mat-form-field>
    </div>
    <div class="app-register-button">
      <button mat-raised-button color="primary" (click)="performRegister()">Register</button>
    </div>
    <div class="app-register-redirect-text">
      <button mat-button color="primary" (click)="redirectToLogin()">Already have an account?</button>
    </div>
  </mat-card>
</div>
