.app-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .app-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .app-register-title {
      margin: 5px;
      font-size: 30px;
    }
    .app-register-username {
      margin: 5px;
    }
    .app-register-password {
      margin: 5px;
    }
    .app-register-button {
      margin: 5px;
    }
    .app-register-redirect-text {
      margin: 5px;
    }
  }
}

