.app-create-board-container {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .app-create-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .app-create-board-title {
      font-size: 30px;
      margin: 5px;
    }
    .app-create-board-name {
      margin: 5px;
    }
    .app-create-board-button {
      margin: 5px;
    }
  }
}

