<div class="app-card app-card-flex-column">
  <div class="app-card-title" *ngIf="card">
    <span>{{card.Title}}</span>
  </div>
  <div class="app-card-todo app-card-flex-column" *ngIf="todoList">
    <span class="app-card-subtitle">Todos:</span>
    <app-todolist [cardId]="card.Id"
                  [todoList]="todoList"
                  (cardActionsChanged)="onCardActionsChanged()"
                  (todoChanged)="onAddTodo()"></app-todolist>
  </div>
  <div class="app-card-comments app-card-flex-column"
       *ngIf="comments && card">
    <span class="app-card-subtitle">Comments:</span>
    <app-comments [cardId]="card.Id"
                  [comments]="comments"
                  (cardActionsChanged)="onCardActionsChanged()"
                  (commentChanged)="onCommentChange()"></app-comments>
  </div>
  <div class="app-card-actions app-card-flex-column" *ngIf="cardActions">
    <span class="app-card-subtitle">Actions:</span>
    <app-card-actions [cardActions]="cardActions"></app-card-actions>
  </div>
</div>
